# python 특징

+ 플랫폼 독립적  
플랫폼 (윈도우, 리눅스, 안드로이드 등 프로그램이 실행되는 운영체제)에   
독립적 (os에 상관없이 한번 프로그램을 작성(코드를 짜놓으면)하면 사용가능)  


+ 인터프리터 언어 ex) 파이썬, 스칼라   
통역기를 사용하는 언어 (소스코드를 바로 실행할 수 있게 지원하는 프로그램 실행방법/ 별도의 번역과정 없이 소스코드를 실행시점에 해석)  
간단히 작성, 메모리가 적게 필요, but 실행속도가 느림  
 vs 컴파일러 언어 ex) C C++ C# JAVA...  
   ( 소스코드를 기계어로 먼저 번역, 해당 플랫폼에 최적화되어 프로그램을 실행)  
   실행속도가 빠름 but 한번의 많은 기억장소 필요  


+ 객체지향  
실행순서가 아닌 모듈(객체) 중심으로 프로그램을 작성  


+ 동적 타이핑 언어  
프로그램이 실행하는 시점에 프로그램이 사용해야 할 데이터에 대한 타입을 결정함

# python 개발환경
프로그램을 작성하고 실행시키는 환경

1. 어떤 운영체제를 사용할지 (Window, Linux, Mac os... )  
2. Python Interpreter   
   python(일반적인 파이썬, 기본적인모듈 포함), anaconda(다양한 과학계산용 모듈들을 묶어 패키지)...
3. 코드 편집기 (Sublime Text, Pycharm...)

### 모듈

파이썬에 기본적으로 포함된 몇몇 기능과, 제 3자 패키지에 포함된 기능들은 파이썬을 실행시킬 때 함께 실행되지 않는다.  
이 기능을 사용하기 위해서는 모듈을 불러오는 import를 사용해야 한다. (모듈은 R의 패키지라고 생각하면 됩니다!)

In [2]:
import re
my_regex = re.compile("[0-9]+", re.I) # 그 함수와 상수를 사용하기 위해서는 re 다음에 마침표를 붙인 후 함수나 상수의 이름을 이어서 쓰면 된다
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

코드에서 이미 re를 사용하고 있다면 별칭(alias)을 사용할 수도 있다.

In [3]:
import re as regex # re를 regex라는 별칭으로 불러옴
p= regex.compile('[a-z]+')

In [4]:
# 관습적으로 사용하는 별칭
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

모듈 하나에서 몇몇 특정 기능만 필요하다면, 해당 기능만 명시해서 불러올 수 있다.

In [4]:
from collections import defaultdict, Counter # collections 모듈에서 defaultdict과 Counter를 import 한다
lookup = defaultdict(int)
# 이런 방식으로 불러왔을 때는 collections 모듈을 모두 import한 게 아니므로, collections.defaultdict이 아니라 defaultdict라고 씀!
my_counter = Counter()

In [5]:
import re   # re.compile 이런식으로 사용
from re import * # compile 이렇게 re 안붙여도 됨!

but 모듈의 기능들을 통째로 불러와서 기존의 변수들을 덮어쓰는 것은 안 좋은 습관이다.

In [5]:
match = 10
from re import * # re에서 모든 기능을 import하겠다는 뜻입니다. re에는 match라는 함수가 존재함
print (match) # match 함수가 기존의 match 변수를 덮어쓴 것을 볼 수 있죠. 이게 바로 안 좋은 습관이라고 합니당!

<function match at 0x00000000025068C8>

# 1. 자료형

**숫자형**

In [6]:
print(7**2) # x**y x의 y제곱
print(7/3) 
print(7%3) # 나머지
print(7//3) # 몫

49
2.3333333333333335
1
2

**문자열**

In [7]:
a = 'python'
b = " is fun!"
print(a+b) # 파이썬은 문자열을 더할 수 있음

print(a*5) # 곱하기도 가능

python is fun!
pythonpythonpythonpythonpython

In [8]:
a = "Life is too short, You need Python"
print(a[0]) # 문자열 인덱싱
print(a[-1])

print(a[0:4]) # 문자열 슬라이싱 [시작:끝]
print(a[:17])
print(a[19:])
print(a[:]) # 시작~끝

b = "abcdefghijklmnop" # 두 부분으로 나누려면?
print(b[:5])
print(b[5:])

L
n
Life
Life is too short
You need Python
Life is too short, You need Python
abcde
fghijklmnop

In [9]:
# 문자열 formatting

print("I eat %d apples." % 3 ) # 숫자를 넣고싶은 자리에 %d (문자열 포맷코드) 를 쓰고, 삽입할 숫자를 뒤에 쓴다.
print("I eat %s apples." % 'five' ) # 문자열 대입

number = 5
print("I eat %d apples." % number ) # 숫자값을 나타내는 변수 대입

number = 10 
day = "three" 
print("I ate %d apples. so I was sick for %s days." % (number, day))

I eat 3 apples.
I eat five apples.
I eat 5 apples.
I ate 10 apples. so I was sick for three days.

In [10]:
# 고급 문자열 formatting

print("I eat {0} apples".format(3)) # 숫자 삽입
print("I eat {0} apples".format("five")) # 문자열 삽입

number = 10 
day = "three"  
print("I ate {0} apples. so I was sick for {1} days.".format(number, day)) # 두개 이상 값 삽입
print("I ate {} apples. so I was sick for {} days.".format(number, day))
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)) # 이름으로 넣기

I eat 3 apples
I eat five apples
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.

In [11]:
# 문자열 자료형은 자체적으로 가지고 있는 함수들이 있다. 이 함수들은 다른말로 문자열 내장함수라고 말한다. 
# 이 내장함수를 사용하려면 문자열 변수 이름 뒤에 '.'를 붙인 다음에 함수 이름을 써주면 된다. 

a = "Python is best choice" 
print(a.count('b')) # b의 갯수 반환
print(a.find('b')) # b의 위치 반환

b = ","
print(b.join('abcd')) # abcd 사이에 b의 값인 ,를 삽입

c = "  hi  "
print(c.lstrip()) # 왼쪽 공백 지우기
print(c.rstrip()) # 오른쪽 공백 지우기
print(c.strip()) # 양쪽 공백 지우기

d = "Life is too short" 
print(a.split()) # 문자열 나누기 (리스트에 하나씩 들어가게 됨)

1
10
a,b,c,d
hi
  hi
hi
['Python', 'is', 'best', 'choice']

**리스트**

파이썬의 가장 기본적인 데이터 구조, 순서가있는 자료의 집합

In [13]:
a = [1,2,3,4,5] # [] 대괄호로 감싸고, 각 요소는 쉼표로 구분

a = [1, 2, ['a', 'b', ['Life', 'is']]] 
print(a[2]) # 리스트 인덱싱
print(a[2][2][0])

print(a[0:2]) # 리스트 슬라이싱
print(a[2][:2])

b = [1,2,3,4,5,6,7,8,9,10]
print(b[::2]) # 2씩 건너뛰어가며 불러오기

['a', 'b', ['Life', 'is']]
Life
[1, 2]
['a', 'b']
[1, 3, 5, 7, 9]

In [14]:
a = [1,2,3]
b = [4,5,6]
print(a+b) # + 기호는 리스트를 합치는 기능을 함

print(a*3) # * 기호는 리스트 반복

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
# 리스트 수정, 삭제

a = [1,2,3,4]

a[3]=5
print(a) # a[3]의 요소가 5로 바뀜

a[1:2] = ['a','b','c'] # 연속된 범위의 값 수정
print(a)
a[1:3] = ['d','e']
print(a)
a[1] = ['a','b','c']
print(a)

# a[1:2] = ['a', 'b', 'c']로 수정하는 것과 a[1] = ['a', 'b', 'c']로 수정하는 것은 전혀 다름 !! 
#a[1:2]는 a[1]에서 a[2] 사이의 리스트를 ['a', 'b', 'c']로 바꾼다는 말

a[1:2] = [] # []를 이용해 리스트 요소 삭제
print(a)
del(a[1]) # del 함수를 이용해 리스트 요소 삭제
print(a)

[1, 2, 3, 5]
[1, 'a', 'b', 'c', 3, 5]
[1, 'd', 'e', 'c', 3, 5]
[1, ['a', 'b', 'c'], 'e', 'c', 3, 5]
[1, 'e', 'c', 3, 5]
[1, 'c', 3, 5]

In [16]:
# 리스트 관련 함수

a = [1,3,2]
a.append(4) # 리스트에 요소 추가
print(a)

a.sort() # 리스트의 요소 정렬
print(a)

print(a.index(3)) # 위치 반환

a.insert(1,5) # insert(a, b) 리스트의 a번째 위치에 b를 삽입
print(a)

print(a.count(1)) # 요소 갯수 세기

b = list(range(10)) # range 10은 0부터 10 직전까지 , list()로 리스트 만들기
print(b)

c = list(range(1,10)) # 1부터 10 전까지
print(c)

[1, 3, 2, 4]
[1, 2, 3, 4]
2
[1, 5, 2, 3, 4]
1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

리스트는 꼭 복사해서 사용

In [17]:
# 숫자나 문자열은 해당안됨
a = 4
b = a
a = 3
print(a)
print(b)

3
4

In [18]:
# 리스트와 같은 변경가능 객체일때
a = [1,2,3] 
b = a 
a[1] = 4 
print(a) 
print(b)

[1, 4, 3]
[1, 4, 3]

In [19]:
a = [1, 2, 3] 
b = a[:] 
a[1] = 4 
print(a) 
print(b)

[1, 4, 3]
[1, 2, 3]

**튜플**

In [20]:
t1 = () 
t2 = (1,) # 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다
t3 = (1, 2, 3) 
t4 = 1, 2, 3 
t5 = ('a', 'b', ('ab', 'cd')) 

del(t5[0]) # 튜플은 리스트와 달리 요소를 지우거나 변경할 수 없다

TypeError: 'tuple' object doesn't support item deletion

In [21]:
# 함수에서 여러 값을 반환할 때 tuple을 사용하면 편하다

def sum_and_product(x,y):
    return x+y,x*y

sp = sum_and_product(2, 3)
s, p = sum_and_product(2,3)

print(sp)
print(s)
print(p)

(5, 6)
5
6

In [22]:
# 위의 과정을 리스트를 이용할 경우

def sum_and_product(x,y):
    return [x+y],[x*y] # 리스트로 

sp = sum_and_product(2, 3)
s, p = sum_and_product(5,10)

print(sp)
print(s)
print(p)

([5], [6])
[15]
[50]

**딕셔너리**

{Key1:Value1, Key2:Value2, Key3:Value3 ...}  
Key와 Value라는 것을 한 쌍으로 갖는 자료형  
딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요소값을 구하지 않고 Key를 통해 Value를 얻는다

In [23]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'} 
# Key는 각각 'name', 'phone', 'birth'이고, 각각의 Key에 해당하는 Value는 'pey', '0119993323', '1118'이 된다.

a = {1:'a'}
a[2] = 'b' # 딕셔너리 추가
print(a)

del(a[2]) # 딕셔너리 삭제 del a[key] -> 지정한 key에 해당하는 {key : value} 쌍이 삭제됨
print(a)

{1: 'a', 2: 'b'}
{1: 'a'}

In [24]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

print(dic['name']) # key 값으로 value 얻기

print(dic.keys()) # 파이썬 3.0 이후 버전에서는 dict_keys라는 객체를 리턴해 줌 -> list() 이용하여 리스트로 만든다
print(list(dic.keys()))
print(list(dic.values())) # value list 만들기
print(dic.items()) # key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려줌

print('name' in dic) # 해당 key 가 dic에 있는지 조사

pey
dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
['pey', '0119993323', '1118']
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
True

In [25]:
for k in dic.keys():
    print(k)
    print(dic[k])

name
pey
phone
0119993323
birth
1118

문서에서 단어의 빈도수를 셀 때,  
가장 직관적인 방법은 단어를 key로, 빈도수를 value로 지정하는 dict를 생성하는 것이다. 이 때, 각 단어가 dit에 이미 존재하면 값을 증가시키고 존재하지 않는다면 새로운 key와 value를 추가해주면 된다.

In [26]:
words_count = {}
document=["회식","가고싶다","엠티","가고싶다"]
for word in document: # document에 있는 word에 대해 반복
    if word in words_count: # words_count에 word가 이미 있다면
        words_count[word] += 1 # 그 value에 1을 더함
    else: # 전에 센 적 없는 새로운 word라면
        words_count[word] = 1 # 이 word의 value를 1로 해서 딕셔너리에 추가
words_count

{'가고싶다': 2, '엠티': 1, '회식': 1}

In [27]:
# 예외처리를 이용하는 방법

words_count = {}
for word in document:
    try:
        words_count[word] += 1
    except KeyError: # 센 적 없는 새로운 word라면 에러가 발생합니다, 이 경우에는
        words_count[word] = 1 # 이 word의 value를 1로 해서 딕셔너리에 추가해요.
words_count

{'가고싶다': 2, '엠티': 1, '회식': 1}

defaultdict 이용  
새로 생성되는 모든 딕셔너리 키에 대한 기본값 설정  
(존재하지 않는 key가 주어진다면 defaultdict는 이 key와 인자에서 주어진 값으로 dict에 새로운 항목을 추가해준다)  
defaultdict을 사용하기 위해서는 먼저 collections 모듈에서 defaultdict을 불러와야 함

In [28]:
from collections import defaultdict

words_count2 = defaultdict(int) # int()는 0을 생성. 우리는 count를 value로 하고 싶은 거니까 int를 인자로 하는 것 !
for word in document:
    words_count2[word] += 1
words_count2

defaultdict(int, {'가고싶다': 2, '엠티': 1, '회식': 1})

In [29]:
# list, dict, 직접만든 함수도 가능

dd_list = defaultdict(list)
dd_list[2].append(1)
dd_list[2].append(2)
dd_list

defaultdict(list, {2: [1, 2]})

Counter  
Counter는 연속된 값을 defaultdict(int)와 유사한 객체로 변환해 주며, key와 value의 빈도를 연결시켜 준다  
(히스토그램을 그릴때 자주 사용한다고 합니당~)

In [30]:
from collections import Counter 
C = Counter([0, 1, 2, 0])
C

Counter({0: 2, 1: 1, 2: 1})

In [31]:
# 문서에서 단어의 개수를 셈
word_counts = Counter(document)
word_counts

Counter({'가고싶다': 2, '엠티': 1, '회식': 1})

In [32]:
# 가장 자주 나오는 단어 10개와 이 단어의 빈도수들을 출력
for word, count in word_counts.most_common(10):
    print (word, count)

가고싶다 2
회식 1
엠티 1

**집합(set)**

리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 자료형의 값을 얻을 수 있지만 set 자료형은 순서가 없기(unordered) 때문에 인덱싱으로 값을 얻을 수 없다. 이는 딕셔너리와 비슷하다. 딕셔너리 역시 순서가 없는 자료형이라 인덱싱을 지원하지 않는다. 만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면 리스트나 튜플로 변환한 후 해야 한다  
중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용되기도 한다.

In [33]:
s1 = set([1,2,3,1,2,3])
print(s1) # 중복 제거

{1, 2, 3}

In [34]:
# in은 set에서 굉장히 빠르게 작동한다.
a = ["a","an","at"] + ["yet","you"]
s2 = set(a)
"zip" in s2 # 빠르게 확인 가능

False

**데이터 형변환**

In [35]:
a = 10.7
a = int(a) # 실수형-> 정수형으로 변환
print(a) # 실수형-> 정수형 변환 시 소수점 이하 '내림'

b = '76.3'
b = float(b) # 문자열-> 실수형으로 변환
print(b)

type(a) # 데이터형 확인

10
76.3

int

In [36]:
a=['1','2','3']
int(a) # 에러발생

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [37]:
a=['1','2','3']
print(list(map(int,a)))

[1, 2, 3]

map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을 입력으로 받는다.  
map은 입력 받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴하는 함수이다

In [38]:
print(map(lambda x:x+4,range(10))) 
list(map(lambda x:x+4,range(10)))

<map object at 0x00000000093F6860>

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

# 2. 제어문

파이썬은 코드의 단락을 구분하는 데 들여쓰기를 사용한다

**If 문**

In [39]:
if 1 > 2:
    message = "if only I were greater than two..."
elif 1 > 3:
    message = "elif stands for 'else if'"
else:
    message = "when all else fails use else"    
message

'when all else fails use else'

In [40]:
pocket = ['paper', 'money', 'cellphone'] 
if 'money' in pocket: 
     pass # 아무일도 일어나지 않게 설정
else: 
    print("카드를 꺼내라")

In [41]:
# 간략하게 작성
if 'money' in pocket: pass 
else: print("카드를 꺼내라")

**for 문**

In [42]:
for x in range(10):
    print (x, "is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [43]:
for x in range(10):
    if x == 3:
        continue # 맨 처음(조건문)으로 다시 돌아가기
    if x == 5:
        break # 반복문 자체를 종료
    print (x)

0
1
2
4

In [44]:
# 리스트 이용
test_list = ['one', 'two', 'three'] 
for i in test_list:
    print(i)

one
two
three

In [45]:
# tuple 이용
a = [(1,2), (3,4), (5,6)] 
for one,two in a:
    print(one+two)

3
7
11

**리스트 안에 for문 포함하기 list comprehension**

In [46]:
a = [1,2,3,4] 
result = [] 
for num in a: 
    result.append(num*3) 

print(result)

[3, 6, 9, 12]

In [47]:
# 파이썬의 장점!
# [표현식 for 항목 in 반복가능객체 if 조건] 
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [48]:
result = [num * 3 for num in a if num % 2 == 0] 
print(result)

[6, 12]

In [49]:
result = [x*y for x in range(2,10)
         for y in range(1,10)] # for문 두개이상 사용하는것도 가능
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [50]:
#dict에서도 사용가능
square_dict = {x: x * x for x in range(5)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [51]:
increasing_pairs = [(x,y)
        for x in range(3)
        for y in range(x + 1, 5)] 
increasing_pairs

[(0, 1), (0, 2), (0, 3), (0, 4), (1, 2), (1, 3), (1, 4), (2, 3), (2, 4)]

**while 문**  
조건문이 참인 동안 수행

In [52]:
x = 0
while x < 10:
    print (x,"is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

# 3. 함수

def 함수이름(입력인수):   
	<수행할 문장>   
	...   
	return 결과값

In [53]:
# 일반적인 함수
def sum(a,b):
    return a+b

a = sum(3,4)
print(a)

7

In [54]:
# 입력값이 없는 함수
def say():
    return 'Hi!'

print(say())

Hi!

In [55]:
# 결과값이 없는 함수
def sum(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

sum(3,4)

3, 4의 합은 7입니다.

In [56]:
# 입력값이 몇개가 될지 모를 때
# 변수명 앞에 *을 붙여서 !

def sum_many(*args): 
    sum = 0 
    for i in args: 
        sum = sum + i 
    return sum 

result = sum_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

In [57]:
def sum_mul(choice, *args): 
    if choice == "sum": 
        result = 0 
        for i in args: 
            result = result + i 
    elif choice == "mul": 
        result = 1 
        for i in args: 
            result = result * i 
    return result 

result = sum_mul('sum', 1,2,3,4,5)
print(result)

15

# 4. 클래스

In [58]:
class Service: 
    name = "소희쓰" 
    def sum(self, a, b): 
        result = a + b 
        print("%s + %s = %s입니다." % (a, b, result)) 

pey = Service()
print(pey.name)
pey.sum(1,2)

소희쓰
1 + 2 = 3입니다.

파이썬 메서드의 첫번째 파라미터명은 관례적으로 self라는 이름을 사용한다.   
호출 시 호출한 객체 자신이 전달되기 때문에 self라는 이름을 사용하게 된 것이다. 물론 self말고 다른 이름을 사용해도 상관은 없다.  
(참고. 메서드의 첫번째 파라미터 self를 명시적으로 구현해야 하는 것은 파이썬만의 독특한 특징이다.   
예를 들어 자바 같은 언어는 첫번째 파라미터인 self가 필요 없다.)

In [59]:
class Service:  
    def setname(self, name): 
        self.name = name 
    def sum(self, a, b): 
        result = a + b 
        print("%s님 %s + %s = %s입니다." % (self.name, a, b, result))

a = Service()
a.setname("소희")
a.sum(1,2)

소희님 1 + 2 = 3입니다.

In [60]:
b = Service()
b.sum(1,2) # name 부여받지 못했기 때문에 error

AttributeError: 'Service' object has no attribute 'name'

In [61]:
class Service: 
    def __init__(self, name):  # 생성자 __init__ 메서드를 이용하면 객체를 만드는 동시에 초깃값을 줄 수 있기 때문에 훨씬 편리하다
        self.name = name 
    def sum(self, a, b): 
        result = a + b 
        print("%s님 %s + %s = %s입니다." % (self.name, a, b, result)) 

b = Service("김소희")
b.sum(1,2)

김소희님 1 + 2 = 3입니다.

In [62]:
class Set: # Set 클래스를 직접 만들어보자
    def __init__(self, values=None):
        self.dict = {}
        
        if values is not None: # values가 비어있지 않다면
            for value in values: # values에 있는 value들을
                self.add(value) # self에 추가
                
    def __repr__(self): # __repr__: print함수 안쓰고 그냥 className 실행하면 뜨는 것 
        return "Set:" + str(self.dict.keys()) # self.dict의 key 값들을 반환 (set의 원소들은 dict의 key들)
    
    def add(self, value): # add라는 함수 정의
        self.dict[value] = True # self.dict에 value를 key를 추가
        print(self.dict)
        
    def contains(self, value): # contains라는 함수 정의
        return value in self.dict # value가 self.dict의 key에 존재하는 지 확인
    
    def remove(self, value): # remove라는 함수 정의
        del self.dict[value] # self.dict의 value라는 key를 삭제

In [63]:
s = Set([1,2,3])
s

{1: True}
{1: True, 2: True}
{1: True, 2: True, 3: True}

Set:dict_keys([1, 2, 3])

In [64]:
s.add(4)
s

{1: True, 2: True, 3: True, 4: True}

Set:dict_keys([1, 2, 3, 4])

In [65]:
s.remove(3)
s

Set:dict_keys([1, 2, 4])

클래스의 상속, 메소드 오버라이딩... (생략하겠습니당...)

# 알아두면 좋은 Basic!

**enumerate**  
list를 반복하면서 list의 항목과 인덱스가 모두 필요한 경우

In [66]:
documents = ["pen","apple","pineapple"]
for i in range(len(documents)):
    document = documents[i]
    print (i, document) # 파이썬스럽지 않다

0 pen
1 apple
2 pineapple

In [67]:
# 인덱스와 list항목 동시에 ! 편리함!
for i, document in enumerate(documents):
    print (i, document)

0 pen
1 apple
2 pineapple

In [70]:
# 인덱스만 필요한 경우
for i in range(len(documents)): print (i) # 파이썬스럽지 않다

for i, _ in enumerate(documents): print (i) # 보통 버릴 항목은 밑줄로 표시한다

0
1
2
0
1
2

**정규표현식**

In [71]:
import re # 정규표현식(regular expression, regex)을 다룰 때 필요한 다양한 함수와 상수를 포함하고 있음
a = "abcd가나adw"
p = re.compile('[a-z]+') 
print(p.sub('',a))
print(p.findall(a))

가나
['abcd', 'adw']

In [72]:
bool(match ("ca", "cat")) # cat에 ca가 포함되니? (시작부터 패턴이 매칭되는지 확인)

True

In [73]:
bool(re.search("a", "cat")) # cat에 a가 포함되니?

True

In [74]:
not re.search("c","dog") # dog에 c가 포함되지 않니?

True

In [75]:
re.split("[ab]", "carbs") # a랑 b로 단어를 split 해라!

['c', 'r', 's']

In [76]:
re.sub("[0-9]","-","R2D2") # 숫자를 -로 바꿔서 넣어라(r에서 gsub!!)

'R-D-'

**zip, argument packing**

가끔씩 두 개 이상의 list를 서로 묶어주고 싶을 때가 있다. zip은 여러 개의 list를 서로 상응하는 항목의 tuple로 구성된 list로 변환해준다.

In [77]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list(zip(list1, list2))

[('a', 1), ('b', 2), ('c', 3)]

주어진 list의 길이가 서로 다를 경우 zip은 첫번째 list가 끝나면 멈춘다. 묶인 list는 다음과 같은 트릭을 사용해 다시 풀 수도 있다.

In [78]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
print(letters)
print(numbers)

('a', 'b', 'c')
(1, 2, 3)

별표(*)는 원래 argument packing(인자 해체)을 할 때 사용되는 문법으로,   
이를 사용하면 pairs 내의 항목들을 zip 함수에 개별적인 인자로 전달해준다.

In [79]:
list(zip(('a', 1), ('b', 2), ('c', 3)))

[('a', 'b', 'c'), (1, 2, 3)]

In [80]:
def add(a, b): return a + b

add(1, 2)

3

In [81]:
add([1, 2]) # 에러 발생

TypeError: add() missing 1 required positional argument: 'b'

In [82]:
add(*[1, 2]) # 해체한 후 연산할것!

3

**map**  
map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을 입력으로 받는다.   
map은 입력받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴하는 함수이다.

In [83]:
def two_times(numberList):
    result = [ ]
    for number in numberList:
        result.append(number*2) # result라는 빈 리스트에 각 원소에 2를 곱한걸 쌓아나간다!
    return result

two_times([1, 2, 3, 4])

[2, 4, 6, 8]

In [84]:
# map을 사용하면
# map은 입력 받은 자료형의 각 요소가 함수 f에 의해 수행된 결과를 묶어서 리턴하는 함수이다

def double(x):
    return 2*x

list(map(double, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [85]:
# 람다를 사용하면 이렇게도 쓸 수 있다!
list(map(lambda a: a*2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [86]:
def multiply(x,y): return x*y

list(map(multiply, [1,2], [4,5])) # 1,4를 먼저 인자로 받고, 2,5를 인자로 받는다

[4, 10]

**pickle**  
pickle은 객체의 형태를 그대로 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈이다.

In [87]:
# pickle 모듈의 dump 함수를 이용하여 딕셔너리 객체인 data를 그대로 파일에 저장하기

import pickle 
f = open("C:\\sohee2.txt", 'wb') 
data = {1: 'python', 2: 'you need'} 
pickle.dump(data, f) 
f.close()

In [88]:
# pickle.dump에 의해 저장된 파일을 pickle.load를 이용해서 원래 있던 딕셔너리 객체(data) 상태 그대로 불러오기

f = open("C:\\sohee2.txt", 'rb') 
data = pickle.load(f) 
print(data)

{1: 'python', 2: 'you need'}

**os 모듈**  
OS 모듈은 환경 변수나 디렉터리, 파일 등의 OS 자원을 제어할 수 있게 해주는 모듈이다.

In [89]:
import os
os.getcwd()

'C:\\Users\\king\\Desktop'

os.mkdir(디렉터리) - 디렉터리를 생성한다.  
os.rmdir(디렉터리) - 디렉터리를 삭제한다.단, 디렉터리가 비어있어야 삭제가 가능하다.  
os.unlink(파일) - 파일을 지운다.  
os.rename(src, dst) - src라는 이름의 파일을 dst라는 이름으로 바꾼다.

**pandas**  
https://blog.naver.com/ossiriand/220702153702

In [40]:
import matplotlib.pyplot as plt
import pandas as pd 
import matplotlib

In [29]:
# 데이터 만들기
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

BabyDataSet = list(zip(names,births))
BabyDataSet

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [30]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [25]:
 # 잘 모르겠을때에는 검색을 이용한다!# csv파일로 저장
df.to_csv?

In [31]:
df.to_csv('C:\\births1880.csv',index=False,header=False)

In [32]:
# 데이터 불러오기
Location = 'C:\\births1880.csv'
df = pd.read_csv(Location)
df

       Bob  968
0  Jessica  155
1     Mary   77
2     John  578
3      Mel  973

In [33]:
df = pd.read_csv(Location, header=None)
df

         0    1
0      Bob  968
1  Jessica  155
2     Mary   77
3     John  578
4      Mel  973

In [34]:
df = pd.read_csv(Location, names=['Names','Births']) # 이름붙여주기
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [35]:
# 열의 type 확인하기
df.dtypes

Names     object
Births     int64
dtype: object

In [36]:
# 특정열의 type 확인하기
df.Births.dtype

dtype('int64')

df['Names'] - Name열의 전체 list  
df['Births']   
df['Births'].max() - Birth열에서 가장 큰 값  
  
[df['Births'] == df['Births'].max()] max값과 같은 record 모두 찾아준다  
df['Names'][df['Births'] == df['Births'].max()] Birth의 max값과 같은 record의 이름 모두 찾아준다

In [43]:
df['Names']

0        Bob
1    Jessica
2       Mary
3       John
4        Mel
Name: Names, dtype: object

In [37]:
# 가장 큰 BIrth를 찾고싶을때
Sorted = df.sort_values(['Births'], ascending=False) # 내림차순으로 정리
Sorted.head(1)

  Names  Births
4   Mel     973

In [42]:
print(df['Births'].max())
MaxName = df['Names'][df['Births'] == df['Births'].max()].values
print(MaxName)

973
['Mel']

seed(500) - seed생성  
randint(low=0,high=len(names))   
names[n] - index가 n인 name 선택

In [45]:
from numpy import random
names = ['Bob','Jessica','Mary','John','Mel']

random.seed(500)
random_names = [names[random.randint(low=0,high=len(names))] for i in range(1000)]

# 처음 10개 rexord
random_names[:10]

['Mary',
 'Jessica',
 'Jessica',
 'Bob',
 'Jessica',
 'Jessica',
 'Jessica',
 'Mary',
 'Mary',
 'Mary']

In [46]:
# 0에서 1000까지 랜덤하게 생성
births = [random.randint(low=0,high=1000) for i in range(1000)]
births[:10]

[968, 155, 77, 578, 973, 124, 155, 403, 199, 191]

In [47]:
BabyDataSet = list(zip(random_names,births))
BabyDataSet[:10]

[('Mary', 968),
 ('Jessica', 155),
 ('Jessica', 77),
 ('Bob', 578),
 ('Jessica', 973),
 ('Jessica', 124),
 ('Jessica', 155),
 ('Mary', 403),
 ('Mary', 199),
 ('Mary', 191)]

In [49]:
df = pd.DataFrame(data = BabyDataSet, columns=['Names', 'Births'])
df[:10]

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973
5  Jessica     124
6  Jessica     155
7     Mary     403
8     Mary     199
9     Mary     191

In [51]:
df.to_csv('C:\\births1880.txt',index=False,header=False)

In [52]:
# 읽어오기
Location = r'C:\births1880.txt'
df = pd.read_csv(Location)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
Mary    999 non-null object
968     999 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB

In [54]:
df.head()

      Mary  968
0  Jessica  155
1  Jessica   77
2      Bob  578
3  Jessica  973
4  Jessica  124

In [55]:
df.tail()

        Mary  968
994     John  151
995  Jessica  511
996     John  756
997  Jessica  294
998     John  152

In [56]:
df = pd.read_csv(Location, names=['Names','Births'])
df.head(5)

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973

In [57]:
# 겹치지 않는 record들 보고싶을때
# unique 이용
df['Names'].unique()

array(['Mary', 'Jessica', 'Bob', 'John', 'Mel'], dtype=object)

In [58]:
for x in df['Names'].unique():
    print(x)

Mary
Jessica
Bob
John
Mel

In [59]:
# describe 이용
print(df['Names'].describe())

count     1000
unique       5
top        Bob
freq       206
Name: Names, dtype: object

**Numpy**  
https://www.datacamp.com/courses/intro-to-python-for-data-science  
http://cs231n.github.io/python-numpy-tutorial/

배열

넘파이 배열을 만들 때는 np.array() 메서드를 이용
np.array()는 파이썬의 리스트를 인수로 받아 넘파이가 제공하는 특수한 형태의 배열(numpy.ndarray)을 반환합니다.

In [61]:
import numpy as np
a = np.array([1, 2, 3])  # rank가 1인 배열 생성
print(a)                 # 출력 [1. 2. 3.]  
print(type(a))           # 출력 numpy.ndarray ndrray 는 같은 자료형 데이터 담는 포괄적 다차원 배열
print(a.dtype)           # 출력 int32

[1 2 3]
<class 'numpy.ndarray'>
int32

In [62]:
print(a[0], a[1], a[2])  # 출력 "1 2 3"
a[0] = 5                 # 요소를 변경
print(a)                 # 출력 "[5, 2, 3]"

1 2 3
[5 2 3]

Numpy에선 배열을 구성하는 데 사용할 수 있는 다양한 숫자 자료형을 제공한다.  
Numpy는 배열이 생성될 때 자료형을 스스로 추측한다(똑똑함)   
그러나 배열을 생성할 때 명시적으로 특정 자료형을 지정(dtype = )할 수도 있다

In [63]:
x = np.array([1.0, 2.0])  # Numpy가 자료형을 추측해서 선택
print (x.dtype)           # 출력 "float64"

x = np.array([1, 2], dtype=np.int64)  # 특정 자료형을 명시적으로 지정
print (x.dtype)                         # 출력 "int64"

float64
int64

In [65]:
x = np.array([1, 2, 3])
y = np.array([2, 4, 6])
x + y                   # 원소별(요소별) 덧셈
# x - y  * / 다 가능

array([3, 6, 9])

넘파이 배열은 원소별 계산뿐 아니라 넘파이 배열과 수치 하나(스칼라) 연산도 수행할 수 있다   
이 경우 스칼라값의 계산이 넘파이 배열의 원소별로 한 번씩 수행된다 
이 기능을 **브로드캐스트** 라고 한다  
(즉, 형상(shape)이 다른 배열끼리도 연산을 가능하게 해주는 기능)

In [66]:
x = np.array([1, 2, 3])
x / 2                  # 배열 x 스칼라값    ->   브로드캐스트 작동

array([ 0.5,  1. ,  1.5])

In [67]:
x ** 2                 # '**' 는 제곱승

array([1, 4, 9], dtype=int32)

In [68]:
# 다차원 배열도 가능

A = np.array([[1,2,3],[4,5,6]])   # rank(차원)가 2인 배열 생성
print(A.ndim)                     # 2 차원 
print(A.shape)                    # 형상
print(A.dtype)                    # 자료형
print(A)                          # [[1 2 3
                                  #   4 5 6]]
    
print (A[0, 0], A[0, 1], A[1, 0])   # 출력 "1 2 4"

2
(2, 3)
int32
[[1 2 3]
 [4 5 6]]
1 2 4

In [69]:
B = np.array([[2,0,0],[3,0,0]])
A + B

array([[3, 2, 3],
       [7, 5, 6]])

형상(shape)이 같은 행렬끼리면 산술 연산도 *대응하는 원소별*로 계산된다 

행렬과 스칼라값의 산술 연산도 가능함!
이때도 마찬가지로 브로드캐스트 기능이 작동한다

In [70]:
A = np.array([[1,2],[3,4]])
A * 10   # 행렬 x 스칼라값   -> 브로드캐스트 작동

array([[10, 20],
       [30, 40]])

브로드캐스트  
배열의 크기가 다른 경우 연산을 해주기 위해 배열을 확장시키는 기술

(1) 한 쪽이 배열이고 다른 한 쪽이 스칼라 값인 경우  
: 스칼라값이 배열 크기만큼 확장된 후 연산된다

In [72]:
x = np.array([[1, 2, 3],[2, 3, 4]])
x / 2                                # 배열 x 스칼라 : (2x3) x (2X3) -> 요소 간 연산

array([[ 0.5,  1. ,  1.5],
       [ 1. ,  1.5,  2. ]])

(2) m x n 행렬과 m x 1 벡터 간의 연산

In [73]:
x = np.array([[1,2,3],[2,3,4]])    # 2 x 3
y = np.array([[1],[2]])            # 2 x 1  ->  2 x 3    [[ 1 1 1],
x * y                              #                     [ 2 2 2 ]]

array([[1, 2, 3],
       [4, 6, 8]])

(3) m x n 행렬과 1 x n 벡터 간의 연산

In [76]:
x = np.array([[1,2,3],[2,3,4]])    # 2 x 3
y = np.array([1,2,3])              # 1 x 3  -> 2 x 3        [[1 2 3]]
x * y                              #                         [1 2 3]]

array([[ 1,  4,  9],
       [ 2,  6, 12]])

(4) m x 1 벡터와 1 x n 벡터 간의 연산

In [77]:
x = np.array([[1],[2],[3]])        # 3 x 1  ->  3 x 2
y = np.array([1,2])                # 1 x 2  ->  3 x 2
x * y                              # 3 x 2

array([[1, 2],
       [2, 4],
       [3, 6]])

넘파이의 여러 함수들

In [78]:
a = np.zeros((2,2))    # 모든 값이 0인 배열 생성
print(a)               # 출력 "[[ 0.  0.]
                       #        [ 0.  0.]]"

b = np.ones((1,2))     # 모든 값이 1인 배열 생성
print(b)               # 출력 "[[ 1.  1.]]"

d = np.eye(2)          # 2x2 단위행렬 생성
print(d)               # 출력 "[[ 1.  0.]
                       #        [ 0.  1.]]"

e = np.random.random((2,2))  # 임의의 값으로 채워진 배열 생성 # np.random.randn
print(e)                     
f = np.random.randn(2,2)
print(f)

[[ 0.  0.]
 [ 0.  0.]]
[[ 1.  1.]]
[[ 1.  0.]
 [ 0.  1.]]
[[ 0.50817892  0.80927033]
 [ 0.78026816  0.66410341]]
[[-0.34219269  0.35277084]
 [ 2.71157265  0.80198202]]

In [79]:
x = np.array([[1, 2],[3, 4]])
print(np.sum(x))          # 모든 요소를 합한 값을 연산
print(np.sum(x, axis=0))   # 각 열에 대한 합을 연산
print(np.sum(x, axis=1))   # 각 행에 대한 합을 연산

10
[4 6]
[3 7]

In [81]:
f = np.arange(15)
print(f)
g = f.reshape((3,5))    # np.reshape(f,(3,5))
print(g)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]]

원소의 *인덱스*는 0부터 시작하는것 주의!

In [82]:
# 원소접근
X = np.array([[51, 55],[14, 19],[0, 4]])
print(X)

[[51 55]
 [14 19]
 [ 0  4]]

In [83]:
X[0]

array([51, 55])

In [84]:
X[0][1]

55

In [85]:
# 슬라이싱
Y = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print(Y)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [86]:
Y[:, 1]    # 모든 행과 1열

array([ 2,  6, 10])

In [87]:
Y[2, :]   # 2행과 모든 열

array([ 9, 10, 11, 12])

In [88]:
Y[:2, 1:3]    # 첫 두 행(:2)과 (1:3) 1,2열로 된 부분집합

array([[2, 3],
       [6, 7]])

**matplotlib**  
데이터를 시각화 하기위한 도구  
https://matplotlib.org/

**파일 읽고 쓰기, 예시**

r	읽기모드 - 파일을 읽기만 할 때 사용  
w	쓰기모드 - 파일에 내용을 쓸 때 사용  
a	추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용

파일에서 번호를 읽어와서 train data, validation data (9:1)로 만들기

In [90]:
# readline 함수 이용
f = open("C:\\example.txt", 'r')

while True:
    line = f.readline() # 한줄씩 읽기
    if not line: # readline은 더 이상 읽을 라인이 없을경우 None을 출력
        break
    print(line)
f.close()

0

1

23

24

25

26

27

30

32

34

35

38

39

44

45

48

49

51

59

62

63

64

65

70

71

74

75

82

83

87

94

98

99

103

109

112

116

118

119

127

134

135

136

137

138

142

143

145

146

149

150

157

158

159

160

167

168

173

174

175

176

180

182

199

200

219

221

224

226

231

245

248

249

255

256

261

264

265

268

269

273

275

302

322

323

324

325

327

332

337

338

348

350

356

357

358

359

374

378

389

390

396

415

416

432

442

446

457

458

465

466

470

485

486

492

506

507

508

509

510

511

In [91]:
# readlines 함수 이용
f = open("C:\\example.txt", 'r') 
lines = f.readlines() # 파일의 모든 라인을 읽어서 각각의 줄을 요소로 갖는 리스트로 리턴

for line in lines: 
    print(line) 
f.close()

0

1

23

24

25

26

27

30

32

34

35

38

39

44

45

48

49

51

59

62

63

64

65

70

71

74

75

82

83

87

94

98

99

103

109

112

116

118

119

127

134

135

136

137

138

142

143

145

146

149

150

157

158

159

160

167

168

173

174

175

176

180

182

199

200

219

221

224

226

231

245

248

249

255

256

261

264

265

268

269

273

275

302

322

323

324

325

327

332

337

338

348

350

356

357

358

359

374

378

389

390

396

415

416

432

442

446

457

458

465

466

470

485

486

492

506

507

508

509

510

511

In [92]:
# read 함수 이용
f = open("C:\\example.txt", 'r') 
line = f.read() # 파일의 내용 전체를 문자열로 리턴
line_split = line.split()
print(line_split)
f.close()

['0', '1', '23', '24', '25', '26', '27', '30', '32', '34', '35', '38', '39', '44', '45', '48', '49', '51', '59', '62', '63', '64', '65', '70', '71', '74', '75', '82', '83', '87', '94', '98', '99', '103', '109', '112', '116', '118', '119', '127', '134', '135', '136', '137', '138', '142', '143', '145', '146', '149', '150', '157', '158', '159', '160', '167', '168', '173', '174', '175', '176', '180', '182', '199', '200', '219', '221', '224', '226', '231', '245', '248', '249', '255', '256', '261', '264', '265', '268', '269', '273', '275', '302', '322', '323', '324', '325', '327', '332', '337', '338', '348', '350', '356', '357', '358', '359', '374', '378', '389', '390', '396', '415', '416', '432', '442', '446', '457', '458', '465', '466', '470', '485', '486', '492', '506', '507', '508', '509', '510', '511']

In [93]:
line_split = list(map(int, line_split))
print(line_split)

[0, 1, 23, 24, 25, 26, 27, 30, 32, 34, 35, 38, 39, 44, 45, 48, 49, 51, 59, 62, 63, 64, 65, 70, 71, 74, 75, 82, 83, 87, 94, 98, 99, 103, 109, 112, 116, 118, 119, 127, 134, 135, 136, 137, 138, 142, 143, 145, 146, 149, 150, 157, 158, 159, 160, 167, 168, 173, 174, 175, 176, 180, 182, 199, 200, 219, 221, 224, 226, 231, 245, 248, 249, 255, 256, 261, 264, 265, 268, 269, 273, 275, 302, 322, 323, 324, 325, 327, 332, 337, 338, 348, 350, 356, 357, 358, 359, 374, 378, 389, 390, 396, 415, 416, 432, 442, 446, 457, 458, 465, 466, 470, 485, 486, 492, 506, 507, 508, 509, 510, 511]

In [94]:
import numpy as np
np.random.shuffle(line_split)
print(line_split)

[160, 38, 264, 510, 378, 145, 35, 44, 136, 64, 82, 39, 248, 98, 173, 182, 457, 332, 62, 143, 138, 359, 65, 174, 325, 322, 32, 167, 118, 159, 432, 26, 357, 458, 256, 337, 134, 146, 350, 265, 23, 338, 466, 374, 415, 112, 59, 99, 269, 492, 226, 137, 0, 390, 48, 249, 255, 149, 511, 509, 470, 70, 416, 442, 45, 245, 221, 327, 135, 75, 34, 199, 396, 87, 508, 261, 180, 358, 324, 168, 74, 94, 63, 150, 224, 158, 83, 486, 465, 142, 268, 71, 506, 175, 219, 446, 127, 200, 27, 109, 30, 356, 485, 25, 116, 507, 348, 157, 51, 24, 119, 49, 103, 231, 273, 323, 1, 302, 275, 389, 176]

In [95]:
a = len(line_split)*0.9
print(a)
sep = int(len(line_split)*0.9)
print(sep)

108.9
108

In [96]:
print(len(line_split[:sep]))
print(line_split[:sep])

108
[160, 38, 264, 510, 378, 145, 35, 44, 136, 64, 82, 39, 248, 98, 173, 182, 457, 332, 62, 143, 138, 359, 65, 174, 325, 322, 32, 167, 118, 159, 432, 26, 357, 458, 256, 337, 134, 146, 350, 265, 23, 338, 466, 374, 415, 112, 59, 99, 269, 492, 226, 137, 0, 390, 48, 249, 255, 149, 511, 509, 470, 70, 416, 442, 45, 245, 221, 327, 135, 75, 34, 199, 396, 87, 508, 261, 180, 358, 324, 168, 74, 94, 63, 150, 224, 158, 83, 486, 465, 142, 268, 71, 506, 175, 219, 446, 127, 200, 27, 109, 30, 356, 485, 25, 116, 507, 348, 157]

In [97]:
len(line_split[sep:])

13

with문을 이용하면 with 블록을 벗어나는 순간 열린 파일 객체 f가 자동으로 close되어 편리하다

In [98]:
with open("C:\\sohee.txt", "w") as f: 
    f.write("with를 사용하면 편리하다")

**이미지 불러오기 예시**

In [101]:
from PIL import Image, ImageFilter # PIL은 이미지 라이브러리
import os

dir = 'C:\\Image_ex'
file_list = os.listdir(dir) # 현재 폴더의 파일과 디렉토리를 리스트 형식으로 출력
print(file_list)

['Cute-Dog-Wallpaper.JPEG', 'dog.JPEG', 'dogs-wallpaper.JPEG']

In [102]:
k = 0
for images in file_list:
    image_dir = 'C:\\Image_ex\\'
    im = Image.open(image_dir + images)
    img2 = im.resize((300,300))
    img2.save(image_dir+str(k)+'.jpg', 'jpeg')
    k=k+1

https://programmers.co.kr/learn/courses/2